@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body-wrapper {
    background-color: #282A3A;
    font-family: 'IBM Plex Mono', monospace;
    color: whitesmoke;
    overflow: hidden;
}

.hidden {
    display: none;
}

.colombagi {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    min-height: calc(100vh - 60px);
    height: auto;
    box-sizing: border-box;
    gap: 50px;
}

.bagianatas {
    display: flex;
    width: 100vw;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

.bagianatas .section-atas {
    display: flex;
    width: 95%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

.kolom1 {
    border: 2px solid aqua;
    background-color: #27374D;
    border-radius: 20px;
    padding: 30px;
    width: 35%;
    max-width: 300px;
    min-width: 200px;
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.kolom2 {
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.kolom3 {
    width: 35%;
    max-width: 370px;
    min-width: 200px;
    height: 260px;
    display: flex;
    justify-content: center;
}

.leaderboard {
    width: 100%;
    height: 100%;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.leaderboard2 {
    width: 100%;
    height: 244px;
    background: transparent;
    display: flex;
    border-radius: 20px;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;

}

.judulleaderboard {
    color: white;
    z-index: 1;
    text-align: center;
    margin-top: 10px;
    width: 95%;
    font-size: 24px;
    font-weight: 700;
}

.rank1 {
    width: 95%;
    height: 25%;
    align-items: center;
    border-bottom: 2px solid #1479EA;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    z-index: 1;
    justify-content: space-around;
}

.rank1 > * {
    flex-basis: 35%;
    text-align: center;
}

.rank2 {
    width: 95%;
    color: white;
    display: flex;
    height: 25%;
    border-bottom: 2px solid #7b42dc;
    align-items: center;
    flex-flow: row nowrap;
    margin-top: 5px;
    z-index: 3;
    justify-content: space-around;
}

.rank2 > * {
    flex-basis: 35%;
    text-align: center;
}

.rank3 {
    width: 95%;
    color: white;
    display: flex;
    height: 25%;
    align-items: center;
    flex-flow: row nowrap;
    margin-top: 5px;
    z-index: 3;
    justify-content: space-around;
}

.rank3 > * {
    flex-basis: 35%;
    text-align: center;
}

.leaderboard::before {
    content: '';
    position: absolute;
    width: 235px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 150%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.leaderboard::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}

.judulfriend {
    display: none;
}

.player {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.player .infoatas {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20%;
}

.player .infobawah {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    width: 100%;
    color: white;
}

.infobawah #player-nickname {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.infoatas .profile {
    min-width: 60px;
    min-height: 60px;
}

.infoatas .level {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6B728E;
    border: 2px solid #282A3A;
    width: 55%;
    min-width: 100px;
    height: 20px;
}

.btnstranger {
    height: 50px;
    width: 100%;
    background-color: #245791;
    color: #6ea0b4;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.btnstranger:before,
.btnstranger:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #7b42dc;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.btnstranger:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.btnstranger:after {
    left: 0;
    bottom: 0;
}

.btnstranger span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.btnstranger span:before,
.btnstranger span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #7b42dc;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.btnstranger span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.btnstranger span:after {
    left: 0;
    bottom: 0;
}

.btnstranger p {
    padding: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
}

.btnstranger p:before,
.btnstranger p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
}

.btnstranger p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
}

.btnstranger p:after {
    content: attr(data-text);
    top: 150%;
    color: #7b42dc;
}

.btnstranger:hover:before,
.btnstranger:hover:after {
    width: 100%;
}

.btnstranger:hover span {
    z-index: 1;
}

.btnstranger:hover {
    background-color: #242424;
}

.btnstranger:hover span:before,
.btnstranger:hover span:after {
    height: 100%;
}

.btnstranger:hover p:before {
    top: -100%;
    transform: rotate(5deg);
}

.btnstranger:hover p:after {
    top: 50%;
    transform: translateY(-50%);
}

.btnstranger.start {
    background-color: #7b42dc;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.btnstranger.start p:before {
    top: -50%;
    transform: rotate(5deg);
}

.btnstranger.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes start {
    from {
        top: -50%;
    }
}

.btnstranger.start:hover:before,
.btnstranger.start:hover:after {
    display: none;
}

.btnstranger.start:hover span {
    display: none;
}

.btnstranger:active {
    outline: none;
    border: none;
}

.btnstranger:focus {
    outline: 0;
}

.btnroom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    cursor: pointer;
    position: relative;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
}

.btnroom::after {
    content: "";
    position: absolute;
    top: -3px;
    width: 100%;
    height: 10%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
}

.btnroom::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 97%;
    width: 100%;
    height: 10%;
    background-color: #212121;
    transition: 0.5s;
}

.btnroom:hover::before,
.btnroom:hover::after {
    transform: scale(0)
}

.btnroom:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}

.bagianbawah {
    width: 100vw;
    height: 50%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #282A3A;
}

.bagianbawah .section-bawah {
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.section-bawah .friend-container {
    background-color: #282A3A;
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}

/* Custom Scrollbar */
.friend-container::-webkit-scrollbar {
    width: 0.7em;
    height: 0.7em;
}

.friend-container::-webkit-scrollbar-track {
    background: #53535f;
    border-radius: 100vw;
    margin-block: 0.5em;
}

.friend-container::-webkit-scrollbar-thumb {
    background: #311a52;
    border: 2px solid #53535f;
    border-radius: 100vw;
}

.friend-container::-webkit-scrollbar-thumb:hover {
    background: #482678;
}

.friendlist {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    max-height: auto;
    height: 100%;
    padding: 25px;
    background-color: #27374D;
    border: 2px solid #80D173;
    border-radius: 20px;
    gap: 10px;
}

.bagianatas-friend {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20%;
}

.levelfriend {
    height: 20px;
    width: 120px;
    background-color: #6B728E;
    border: 2px solid #282A3A;
    text-align: center;
    font-size: 14px;
}

.bagiantengah-friend {
    display: flex;
    flex-flow: column nowrap;
    color: white;
    font-size: 14px;
    gap: 10px;
}

.friendlist .bagiantengah-friend .friend-name {
    font-size: 18px;
    font-weight: 700;
}

.profilefriend {
    min-width: 45px;
    min-height: 45px;
    background-color: transparent;
}


.addplayer {
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #245791;
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.textadd {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.addplayer:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
    background-color: #245791;
}

.addplayer:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
}

.addplayer:hover .textadd {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.addplayer:active {
    transform: translate(2px, 2px);
}

@media screen and (max-width: 950px) {

    .kolom1 {
        padding: 20px;
        width: 25%;
    }

    .player .infoatas {
        gap: 20px;
    }

    .kolom2 {
        width: 150px;
    }

    .kolom3 {
        width: 30%;
        height: 250px;
    }

    .friendlist {
        width: 25%;
        padding: 15px;
    }

    .bagianatas-friend {
        gap: 20px;
    }

    .levelfriend {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {

    .kolom3 {
        display: none;
    }

    .bagianatas {
        height: auto;
    }

    .bagianatas .section-atas {
        justify-content: center;
        flex-flow: column nowrap;
        gap: 30px;
    }

    .kolom1 {
        margin-top: 20px;
        padding: 30px 50px;
        width: 60%;
        max-width: 60%;
    }

    .kolom2 {
        width: 80%;
        flex-flow: row nowrap;
    }

    .player .infoatas {
        gap: 20%;
    }

    .player .infobawah {
        font-size: 18px;
    }
}

@media screen and (max-height: 800px) {

    .colombagi {
        gap: 10px;
    }

    .bagianatas .section-atas {
        gap: 20px;
    }

    .kolom1 {
        padding: 10px 30px;
    }

    .kolom1 p {
        font-size: 14px;
    }

    .kolom2 p {
        font-size: 12px;
    }
}