@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Inter:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.body-wrapper {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: whitesmoke;
  background-color: #282A3A;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.list-history {
  width: 100%;
  height: calc(100% - 60px);
  display: inline-block;
  gap: 20px;
  overflow-x: auto;
}

.history-container {
  margin-top: 15px;
  width: 100%;
  height: 70px;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  background-color: #404258;
  text-align: center;
}

.history-container .background-word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  border-radius: 40px;
  color: #282A3A;
}

.history-container .background-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  color: #282A3A;
}

.history-container .player-list {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-history {
  display: flex;
  justify-content: center;
  /* margin-top: 16%; */
  height: calc(100vh - 70px);
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .body-wrapper {
    font-size: 14px;
  }

  .history-container .player-list {
    flex-wrap: wrap;
  }

  .history-container .player-list > * {
    flex-basis: 50%;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 755px) {
  .body-wrapper {
    font-size: 14px;
  }

  .history-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .history-container>* {
    flex-basis: 25%;
  }

  .history-container .player-list {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .body-wrapper {
    font-size: 12px;
  }
}